body{
	background-color: #f7f3f7;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	border-color: #777777;
	border: 1px;
}
#Navigation h1{
	background-color: #e7e7e7;
	text-align: center;
	margin: 0;
	padding: 10px;
	font-size: 200%;
}
#Navigation ul{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	background-color: #e7e7e7;
	padding: 0px 40px;
}
#Navigation ul li{
	float: left;
	display: block;
	text-align: center;
	text-decoration: none;
	border-style: none;
}
#QuickNavigation{
	display: block;
	padding: 16px;
}
#Navigation ul li a{
	display: block;
	padding: 16px;
	color: black;
	text-decoration: none;
}
#Navigation ul li button{
	border-style: none;
	border-width: 0px;
	background-color: #e7e7e7;
	padding: 16px;
}
#Navigation li a:hover:not(.active) {
    background-color: #ddd;
}
#Navigation li button:hover:not(.active) {
    background-color: #ddd;
}
#BaiduLogo{
	transform: scale(0.5);
	margin: -27px;
	margin-right: -50px;
	display: inline-block;
}
#SearchSubmit{
	background: #5050ff;
	font-size: 1.28em;
	color: white;
	padding: 9px;
	border-style: solid;
	border-radius: 6px;
	text-align: center;
	border-color: #5050ff;
	margin-left: -3px;
}
#SearchContent{
	margin-right: -2px;
	padding: 10px;
	font-size: 1.28em;
	border-style: solid;
	border-radius: 6px;
	width: 36%;
	border-color: #5050ff;
}
#SearchBaidu{
	margin-top: 12px;
}
.div{
	margin-left: 5%;
	margin-right: 5%;
	padding: 10px;
	border: 1px solid;
	border-radius: 10px;
}
#CommonPages td{
	font-size: 1.2em;
	padding: 4px 8px;
}
#CommonPages td a{
	text-decoration: none;
	color: black;
}
.strong{
	font-weight: bold;
}