#sidenav {
    position: sticky;
    margin-top: 3em;
}

body {
    margin-top: 3em;
}

#topbtn-md {
    position: fixed;
    right: 20%;
    bottom: 6em;
    height: 4em;
    width: 4em;
}

#topbtn-sm {
    position: fixed;
    right: 2em;
    bottom: 2em;
    height: 2em;
    width: 2em;
    font-size: large;
}

@media only screen and (max-width: 768px) {
    #sidenav {
        display: none;
    }
    #topbtn-md {
        display: none;
    }
    body {
        margin-top: 2em;
    }
    #lang-sel-div {
        position: absolute;
    }
}