#sidenav {
    position: sticky;
    top: 3em;
}

body {
    margin-top: 3em;
    margin-left: 4em;
    margin-right: 3em;
}

#topbtn-md {
    position: fixed;
    right: 10%;
    bottom: 6em;
    height: 4em;
    width: 4em;
}

#topbtn-sm {
    position: fixed;
    right: 2em;
    bottom: 2em;
    height: 2em;
    width: 2em;
    font-size: large;
}

@media only screen and (max-width: 768px) {
    #sidenav {
        display: none;
    }
    #topbtn-md {
        display: none;
    }
    body {
        margin-top: 2em;
        margin-left: 0;
        margin-right: 0;
    }
}

td {
    border: 1px;
    border-color: silver;
    border-style: solid;
    padding: 6px;
}

.row {
    margin-top: 2em;
    margin-bottom: 2em;
}

.card {
    margin-top: 1em;
    margin-bottom: 1em;
}